{% extends "faculty/base.html" %}

{% block title %}Кафедри{% endblock %}

{% block content %}
    <h1>Кафедри</h1>
    {% for department in departments %}
    <article>
        <h2><a href="{% url 'faculty:department_detail' department.id %}">{{ department.name }}</a></h2>
        <p>Завідувач кафедри: {{ department.head }}</p>
        <p>Випускові спеціальності:</p>
        <ul>
            {% for program in department.program_set.all %}
            <li>{{ program.name }}</li>
            {% empty %}
            <li>—</li>
            {% endfor %}
        </ul>
    </article>
    {% empty %}
    <p>Кафедри ще не додано.</p>
    {% endfor %}
{% endblock %}